text-color = #929aa8
// khung
nav.khung
	// box1
	.box1
		float left
		width 100%
		height 260px
		// heaeder
		.header
			width 90%
			height 40px
			margin-left: 5%
			border-bottom 1px solid text-color
			nav.nav
				line-height 30px
				a
					font-family Montserrat, sans-serif
					font-size 9pt
					color text-color
					&:hover 
						color red
				.dropdown
					margin-top 5px
					margin-left 5px
					button.btn
						width auto
						font-size 9pt
						background-color white
						color text-color
						border none
					.dropdown-menu
						a
							&:hover 
								color red
					&:hover .dropdown-menu
						display block
				a.right 
					margin-left 20%
		// logo
		.boxlogo
			width 90%
			margin-left 5%
			height 160px
			border-bottom 1px solid text-color
			.col-md-3
				float left
				form.form-inline
					
					input.form-control
						margin-top 50px
						height 50px
						width 250px
						margin-left 55px
						border none
						background-color #dce1ea
						border-radius 0
					button.btn 
						border none
						top 50px
						right 21px
						height 50px
						width 50px
						border-radius 0
						color text-color
						&:hover 
							background-color red
							color white
			.col-md-5
				float left
				img.logoicon
					margin-left 45%
					margin-top 50px
			.col-md-4
				float left
				height 140px
				.dropdown
					margin-top 5px
					margin-left 35px
					button.btn
						width auto
						font-size 9pt
						background-color white
						color text-color
						border none
						a.buy
							display block
							width 200px
							height 70px
							margin-top 50px
							i.fa-shopping-cart
								float left
								display block
								width 50px
								height 50px
								border-radius 100%
								background-color #dce1ea
								line-height 50px
								color black
								text-align center
								&:hover
									background-color red
									color white
								sup
									color blue
									&:hover 
										color white							
							p 
								float left
								color text-color
								font-size 20pt
								padding-left 10px									
								padding-top 5px
					.dropdown-menu
						a
							&:hover 
								color red
					&:hover .dropdown-menu
						display block	
	// end box 1
	// box2
	.box2
		float left
		width 100%
		height 60px
		top 200px
		left 0
		background-color white
		transition top 1s
		nav.navbar
			height 60px
			width 90%
			margin-left 5%
			.collapse
				height 60px
				ul.navbar-nav
					.dropdown 
						button.btn 
							height 60px
							background-color white
							color black
							border-radius 0
							border none
							padding-right 25px
							padding-left 25px
							&:hover 
								transition 1.5s ease
								background-color black
								color white
						button.active 
							background-color black
							color white 
				.line 
					height 30px
					width 2px
					background-color text-color
					margin-top 15px
				.dropdown
					button.btn
						color text-color
						border none
					&:hover .dropdown-menu
						display block
					.dropdown-menu
						width 480px
						height 190px
						background-color white
						.col-md-4
							float left
							a
								text-decoration none
								color text-color
								line-height 35px
								h6
									color black
								i 
									display none
									font-size 7pt
								&:hover 
									color red
									padding-left 5px
									transition 1s ease
									i 
										display block
										float left
										padding-top: 14px
										padding-right 5px
										color red
						.col-md-6
							float left
							a
								text-decoration none
								color text-color
								line-height 35px
								h6
									color black
								i 
									display none
									font-size 7pt
								&:hover 
									color red
									padding-left 5px
									transition 1s ease
									i 
										display block
										float left
										padding-top: 14px
										padding-right 5px
										color red								
	// end box 2
	// box3
	.box3
		float left
		width 100%
		height 550px
		.carousel
			.carousel-inner
				.carousel-item
					img
						width 100%
						height 550px
					.carousel-caption
						top 100px
						h2
							font-size 35pt
						h1
							display block
							width 600px
							height 100px
							font-size 65pt
							border 2px solid white
							line-height 90px
							margin-left: 20%
						p
							font-size 17pt
						a
							font-size 12pt
							display block
							width 150px
							height 40px
							background-color blue
							line-height 40px
							text-decoration none
							font-weight 550
							color #002f84
							background-color white
							margin-left 43%
							&:hover 
								transition all 1s ease-in
								background-color #fc0f0f
								color white
	// end box 3
	// box4
	.box4
		float left
		width 100%
		height 700px
		margin-top 40px
		.col-md-3
			float left
			height 700px
			.up
				height 50%
				img 
					width 100%
					height 100%
			.down
				height 50%
				h2
					color text-color
					padding-top 100px
				.gach 
					background-color text-color
					width 50px
					height 2px				
					margin-left 42%
				p 
					color text-color
					padding-top 10px
					font-family arial
					font-size 13pt
				a
					display block
					width 120px
					height 40px
					border 2px solid text-color
					text-align center
					line-height 35px
					margin-left 32%
					text-decoration none
					color text-color
			&:hover
				.up 
					img
						opacity 0.6
						transition all .8s ease-in
				.down
					background-color #41424c
					transition all .8s ease-in
					h2, p
						color white
					a 
						color white
						border 2px solid white
						&:hover 
							transition all .8s ease-in
							color #ed1a1a
							border 2px solid #ed1a1a
		.left
			margin-left: 12%
	// end box 4
	// box5
	.box5
		float left
		width 100%
		height 670px
		margin-top 40px
		// tab
		nav.slidelist
			width 90%
			margin-left 5%
			.nav
				a.nav-item
					color text-color
				a.active 
					background-color #e5e5e5
					transition all .8s ease-in
		// content
		.tab-content
			width 90%
			height 500px
			margin-top 20px
			margin-left 5%
			.tab-pane
				.carousel
					.carousel-item
						height 420px
						.col-md-3
							float left 
							.card	
								border none
								border-bottom 1px solid text-color							
								img.card-img-top
									width 100%
									height 330px
									position relative
								img.hide
									display none
									width 100%
									height 330px								&:hover 
									img.card-img-top
										display none
									img.hide 
										display block
								.card-body
									h6
										font-weight 200
										a 
											color text-color
											text-decoration none
											&:hover 
												color #ed1a1a
												transition all 1s ease
									ul 
										list-style-type: none
										margin-left: 30px
										li 
											float left
											color gold
									p
										color #ed1a1a
										font-size 22pt
							a.addcart
								float left
								display block
								width 100px
								height 30px
								background-color #edeaea
								font-size 9pt
								text-align center
								line-height 30px
								margin-top 20px
								color text-color
								font-weight 550
								text-decoration none
								border-radius 15px
								&:hover 
									transition all .9s ease-in
									background-color #fcc214
									p
										display none
									i
										color white
							a.findicon
								display block
								float right	
								color text-color
								margin-top 22px
								text-decoration none									
								&:hover 
									color #fcc214
		// nut slide
		a.carousel-control-prev
			width 40px
			height 40px
			top 0px
			left 89%
			i 
				color black
			&:hover
				background-color #fc2020
		a.carousel-control-next
			width 40px
			height 40px
			top 0px
			right 5%
			i 
				color black	
			&:hover
				background-color #fc2020						
	// end box 5
	// box6
	.box6
		float left
		position relative
		width 90%
		margin-left: 5%
		margin-top: 2%
		.image
			display block
			width 100%
			height auto
		.overlay 
			position: absolute
			top 9%
			left 2%
			right 0
			background-color #a3a6a6
			overflow hidden
			width 96%
			height 81%
			-webkit-transform scale(0)
			transition .3s ease
			opacity: 0.5
	.box6:hover .overlay
		transform scale(1)
	// end box 6
	// box7
	.box7
		width 100%
	// end box 7
	// box8
	.box8
		width 100%
	// end box 8
	// box9
	.box9
		width 100%
	// end box 9
	// box10
	.box10
		width 100%
	// end box 10
	// box11
	.box11
		width 100%
	// end box 11
	// box12
	.box12
		width 100%
	// end box 12	
// end khung
// tablet
@media screen and (max-width 768px)
	// khung
	nav.khung
		// box1
		.box1
			margin-left: 0
			width 768px
			.header 
				// border none
				nav.nav 
					a.nav-link
						display none
			.boxlogo
				width 90%
				.col-md-3
					margin 0
					form.form-inline
						input.form-control
							margin-left 0
						button.btn 
							top 58px
							right -22%
		// end box 1
		// box2
		.box2
			margin-left: 0
			width 100%
		// end box 2
		// box3
		.box3
			margin-left: 0
			width 768px
			.carousel 
				.carousel-inner 
					.carousel-item
						.carousel-caption
							top 150px
							h1 
								margin-left -5%
							a 
								margin-left 35%
		// end box 3
		// box4
		.box4
			margin-left: 0
			width 100%
			height 500px
			.col-md-3
				.up 
					height 250px
					img 
						width 100% 
						height 260px
				.down
					height 250px
					h2 
						padding-top 50px
					.gach 
						margin-left 35%
					a 
						margin-left 15%
		// end box 4
		// box5
		.box5
			margin-left: 0
			height 600px
			width 100%
			nav.slidelist
				height 45px
				.nav 
					float left
					margin-left 2.2%
					a.nav-item
						height 45px
			.tab-content
				height 350px
				.tab-pane
					.carousel
						.carousel-item
							.col-md-3
								.card 
									height 350px
									img.card-img-top
										height 200px
									.card-body
										h6
											font-size 9pt
										ul
											display none
										p 
											font-size 16pt
								a.addcart
									margin-left 15%
								a.findicon
									display none										
									
					margin 0
			a.carousel-control-prev
				// top 30%
				left 85%	
			a.carousel-control-next
				// top 30%
				right 5%	
		// end box 5
		// box6
		.box6
			margin-left: 0
			width 100%
			margin 0
		// end box 6
		// box7
		.box7
			width 100%
		// end box 7
		// box8
		.box8
			width 100%
		// end box 8
		// box9
		.box9
			width 100%
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
	// end box 12
// end tablet
// mobile
@media screen and (max-width 360px)
	// khung
	nav.khung
		// box1
		.box1
			margin-left: 0
			width 100%
			.boxlogo 
				.col-md-3 
					display none
				.col-md-4
					display none
				.col-md-5
					margin-left -15%
		// end box 1
		// box2
		.box2
			width 100%
		// end box 2
		// box3
		.box3
			height 300px
			width 100%
			.carousel 
				height 300px
				.carousel-inner 
					.carousel-item 
						img 
							height 300px
		// end box 3
		// box4
		.box4
			display none
		// end box 4
		// box5
		.box5
			width 100%
			height 1700px
			nav.slidelist
				display none
			a.carousel-control-prev
				display none
			a.carousel-control-next
				display none
			.tab-content
				height 310px
				.tab-pane
					.carousel 
						.carousel-inner 
							.carousel-item
								.col-md-3
									.card 
										height 350px
										img 
											height 250px
									a.addcart
										margin-left 33%
										margin-bottom 20px
		// end box 5
		// box6
		.box6
			width 100%
		// end box 6
		// box7
		.box7
			width 100%
		// end box 7
		// box8
		.box8
			width 100%
		// end box 8
		// box9
		.box9
			width 100%
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
// end mobile