// khung
nav.khung
	// box1
	.box1
		width 100%
	// end box 1
	// box2
	.box2
		width 100%
	// end box 2
	// box3
	.box3
		width 100%
	// end box 3
	// box4
	.box4
		width 100%
	// end box 4
	// box5
	.box5
		width 100%
	// end box 5
	// box6
	.box6
		width 100%
	// end box 6
	// box7
	.box7
		width 100%
	// end box 7
	// box8
	.box8
		width 100%
	// end box 8
	// box9
	.box9
		margin-top: 30px
		float left
		width 89%
		margin-left 5%
		height 550px
		background none
		.menu
			float left
			height 50px
			background white
			.m1
				margin-left 10px
				width 250px
				height 50px
				background #d4d8dd
				float left
				border-right 1px solid white
				a
					text-decoration none
					color text-color
					text-align center
					i
						float left
						line-height 50px
						padding-left: 10px
					p
						float left
						line-height 50px
						padding-left 20px
			.m2
				width 250px
				height 50px
				background none
				float right
				margin-left 690px
				.nut
					float right
					height 50px
					background none
					.nut1
						float left
						height 50px
						width 50px
						text-align center
						&:hover
							background gray
						i
							line-height 50px
					.nut2
						float left
						height 50px
						width 50px
						text-align: center
						margin-left 25px
						&:hover
							background gray
						i
							line-height 50px	
		.slide
			float left
			margin-top 1%
			.dcard
				float left
				height auto
				background: none
				margin-bottom: 5px
				.pic
					float left
					height 100%
					background: none
					position relative
					overflow hidden
					img
						width 100%
						height 100%
						transition 1s
					.img2
						position absolute
						width 100%
						height 100%
						top 0
						left 0
						transition 1s
						&:hover
							transform scale(1.5)
							opacity 0
				.noidung
					float left
					height 270px
					background:none
					.d1
						background: white
						float left
						h6
							font-size 11px
							padding-top 10%
							text-align center
						i
							padding-left 4%	
						p
							padding-bottom 15%
							text-align center
							strong
								color red
					.d2
						float left
						background white
						width 50%
						height 25%
						border 1px solid gray
						a
							color black
							i
								padding-top 35%
								padding-left 20%
								&:hover
									color red
	// end box 9
	// box10
	.box10
		width 100%
	// end box 10
	// box11
	.box11
		width 100%
	// end box 11
	// box12
	.box12
		width 100%
	// end box 12	
// end khung
// tablet
@media screen and (max-width 768px)
	// khung
	nav.khung
		// box1
		.box1
			width 100%
		// end box 1
		// box2
		.box2
			width 100%
		// end box 2
		// box3
		.box3
			width 100%
		// end box 3
		// box4
		.box4
			width 100%
		// end box 4
		// box5
		.box5
			width 100%
		// end box 5
		// box6
		.box6
			width 100%
		// end box 6
		// box7
		.box7
			width 100%
		// end box 7
		// box8
		.box8
			width 100%
		// end box 8
		// box9
		.box9
			width 100%
			height 500px 
			margin-left 0
			.menu
				.m2
					margin-left 250px
					.nut
						.nut1
							margin-left -33px
							background white
							i
								padding-top 7px
						.nut2
							background white
							i
								padding-top 7px
								padding-left 5px
								margin-left: 0
			.slide
				margin-top 20px
				.dcard
					height 
					.pic
						img	
					.noidung
						.d1
							h6
								margin-top 0px			
						.d2
							display none
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
	// end box 12
// end tablet
// mobile
@media screen and (max-width 360px)
	// khung
	nav.khung
		// box1
		.box1
			width 100%
		// end box 1
		// box2
		.box2
			width 100%
		// end box 2
		// box3
		.box3
			width 100%
		// end box 3
		// box4
		.box4
			width 100%
		// end box 4
		// box5
		.box5
			width 100%
		// end box 5
		// box6
		.box6
			width 100%
		// end box 6
		// box7
		.box7
			width 100%
		// end box 7
		// box8
		.box8
			width 100%
		// end box 8
		// box9
		.box9
			width 100%
			.menu
				.m1
				.m2
					display none
			.slide
				.dcard
					.noidung
						.d1
							h6
								margin-top -20px
							i
								padding-left 45%
						.d2
							display block
							i 
								line-height 5px
								padding-left 30px
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
// end mobile