// khung
nav.khung
	// box1
	.box1
		width 100%
	// end box 1
	// box2
	.box2
		width 100%
	// end box 2
	// box3
	.box3
		width 100%
	// end box 3
	// box4
	.box4
		width 100%
	// end box 4
	// box5
	.box5
		width 100%
	// end box 5
	// box6
	.box6
		width 100%
	// end box 6
	// box7
	.box7
		float left
		width 100%
		height: 650px
		.col-left
			float left
			width 50%
			height 100%
			.content
				h3
					margin 0
					padding-left 9.5%
					padding-top 5%
					font-weight 300
			// slide1
			.slide1
				height 350px
				.carousel-inner
					height 500px
					.carousel-item
						.card-deck
							width 580px
							margin-left 7%
							.pic1
								text-align center
								height 500px
								position relative
								&:hover img.img2
									opacity 1
								&:hover a.iconimg1
									opacity 1
								&:hover a.iconimg2
									opacity 1
								img.img2
									position absolute
									top 0
									width 100%
									height 65%
									transition 0.5s ease
									opacity 0
								a.iconimg1
									position absolute
									display block
									width 40px
									height 40px
									background #333333
									color white
									line-height 40px
									text-align center
									top 140px
									left 90px
									opacity 0
									transition 0.5s ease
									&:hover
										background #ff3232
								a.iconimg2
									position absolute
									display block
									width 40px
									height 40px
									background #333333
									color white
									line-height 40px
									text-align center
									top 140px
									left 135px
									opacity 0
									transition 0.5s ease
									&:hover
										background #ff3232
								a.title
									text-decoration none
									color #bbbbbb
									font-size 12px
									padding-top 10px
									transition 0.5s ease
									&:hover
										color red
								p.iconstar
									text-align center
									color #f5b401
									font-size 12px
									i.disabled
										color #bbbbbb
								p.tien
									text-align center
									font-size 20px
									color red
								hr
									margin 0
								.nut
									margin-top 15px
									a.btnn
										float left
										display block
										width 110px
										height 35px
										background #eeeeee
										line-height 35px
										text-align center
										text-decoration none
										border-radius 30px
										font-size 12px
										font-weight bold
										color #bbbbbb
										transition 1s ease
										i
											display none
										&:hover
											background #eeb742
											color white
											i
												display block
												line-height 35px
											p
												display none	
									.iconhover
										float: left
										a
											font-size 12px
											padding-top 10px
											padding-left 60px
											text-decoration none
											color #bbbbbb
											transition 1s ease
											&:hover
												color #eeb742
				a.carousel-control-prev span.prev
					position absolute
					top -10%
					left 545px
					background #bbbbbb
					width 30px
					height 30px
					line-height 30px
				a.carousel-control-next span.next
					position absolute
					top -10%
					left 7px
					background: #bbbbbb
					width 30px
					height 30px
					line-height 30px
		    // end slide1
		// col right
		.col-right
			float left
			width 50%
			height 100%
			.content
				h3
					margin 0
					padding-left 9.5%
					padding-top 5%
					font-weight 300
			// slide2
			.slide2
				height 350px
				.carousel-inner
					height 500px
					.carousel-item
						.card-deck
							width 580px
							margin 0
							margin-left: 47px
							.pic1
								height 500px
								text-align center
								position relative
								&:hover img.img2
									opacity 1
								&:hover a.iconimg1
									opacity 1
								&:hover a.iconimg2
									opacity 1
								img.img2
									position absolute
									top 0
									width 100%
									height 65%
									transition 0.5s ease
									opacity 0
								a.iconimg1
									position absolute
									display block
									width 40px
									height 40px
									background #333333
									color white
									line-height 40px
									text-align center
									top 140px
									left 90px
									opacity 0
									transition 0.5s ease
									&:hover
										background #ff3232
								a.iconimg2
									position absolute
									display block
									width 40px
									height 40px
									background #333333
									color white
									line-height 40px
									text-align center
									top 140px
									left 135px
									opacity 0
									transition 0.5s ease
									&:hover
										background #ff3232
								a.title
									text-decoration none
									color #bbbbbb
									font-size 12px
									padding-top 10px
									transition 0.5s ease
									&:hover
										color red
								p.iconstar
									text-align center
									color #f5b401
									font-size 12px
									i.disabled
										color #bbbbbb
								p.tien
									text-align center
									color red
									font-size 20px
								hr
									margin 0
								.nut
									margin-top 15px
									a.btnn
										float left
										display block
										width 110px
										height 35px
										background #eeeeee
										line-height 35px
										text-align center
										text-decoration none
										border-radius 30px
										font-size 12px
										font-weight bold
										color #bbbbbb
										transition 1s ease
										i
											display none
										&:hover
											background #eeb742
											color white
											i 
												display block
												line-height 35px
											p
												display none
									.iconhover
										float left
										a
											font-size 12px
											padding-top 10px
											padding-left 60px
											text-decoration none
											color #bbbbbb
											transition 1s ease
											&:hover
												color #eeb742
				a.carousel-control-prev span.prev
					position absolute
					top -9.8%
					left 545px
					background: #bbbbbb
					width 30px
					height 30px
					line-height 30px
				a.carousel-control-next span.next
					position absolute
					top -9.8%
					left 8px
					background #bbbbbb
					width 30px
					height 30px
					line-height 30px
			// end slide2
		// end col right
	// end box 7
	// box8
	.box8
		width 95%
		height 400px
		margin 0 auto
		.col-md-4
			float left
			margin-top 3%
			height 300px
			img
				width 100%
				height 100%
			.img1
				width 100%
				margin-top: 2%;
				float left
				.img2
					width 60px
					height 60px
					float left
					background #eeb742
					border-radius 100%
					.text
						width 90%
						height 90%
						margin-top 5%
						margin-left: 5.5%
						border 2px solid white
						border-radius 100%
						background #eeb742								
						span
							float left
							padding-left: 40.5%
							padding-top: 25%
							color white
				.img3
					height 100%
					float left
					h5
						a 
							text-decoration none
							color black
					p
						font-size 13px
			// box 8.3
			.img4
				height 200px
				position: relative
				// width 80%
				// margin-left: 10%
				.image
					display block
					// width 100%
					height 100%
				.overlay 
					position: absolute
					top 9%
					left 10%
					right 0
					background-color #a3a6a6
					overflow hidden
					width 80%
					height 80%
					-webkit-transform scale(0)
					transition .3s ease
					opacity: 0.5
				&:hover .overlay
					transform: scale(1)
			.img4
				height 50%
				width 100%
			.col
				width 53%
				position relative
				height 80%
				margin-top: 6%
				float left
				.image
					display block
					height 100%
				.overlay 
					position: absolute
					top 9%
					left 19.5%
					right 0
					background-color #a3a6a6
					overflow hidden
					width 60%
					height 80%
					-webkit-transform scale(0)
					transition .3s ease
					opacity: 0.5
			.col:hover .overlay
				transform: scale(1)
			.col1
				width 41%
				position relative
				height 80%
				margin-top 6%
				margin-left 9px 
				float left
				.image
					display block
					// width 100%
					height 100%
				.overlay 
					position: absolute
					top 9%
					left 13%
					right 0
					background-color #a3a6a6
					overflow hidden
					width 75%
					height 80%
					-webkit-transform scale(0)
					transition .3s ease
					opacity: 0.5
			.col1:hover .overlay
				transform: scale(1)		
	// end box 8
	// box9
	.box9
		width 100%
	// end box 9
	// box10
	.box10
		width 100%
	// end box 10
	// box11
	.box11
		width 100%
	// end box 11
	// box12
	.box12
		width 100%
	// end box 12	
// end khung
// tablet
@media screen and (max-width 768px)
	// khung
	nav.khung
		// box1
		.box1
			width 100%
		// end box 1
		// box2
		.box2
			width 100%
		// end box 2
		// box3
		.box3
			width 100%
		// end box 3
		// box4
		.box4
			width 100%
		// end box 4
		// box5
		.box5
			width 100%
		// end box 5
		// box6
		.box6
			width 100%
		// end box 6
		// box7
		.box7
			margin-left: 0
			width 100%
			.col-left
				.slide1
					.carousel-inner
						width 320px
						margin-left 25px
					a.carousel-control-prev span.prev
						margin-left -260px
					a.carousel-control-next span.next
						margin-left -15px
			.col-right
				.slide2
					.carousel-inner
						width 320px
					a.carousel-control-prev span.prev
						margin-left -260px
					a.carousel-control-next span.next
						margin-left -15px
		// end box 7
		// box8
		.box8
			margin-left: 0
			width 100%
			height 300px
			.col-md-4
				height 300px				
				img
					height 200px
			.anh1
				.img1
					margin-top 5%
					height 70px
					.img2
						width 50px 
						height 50px
						.text
							border none
							span
								line-height 35px
								padding-top 0
					.img3
						p
							display none
			.anh2
				.img4
					img
						width 94%
						height 120px
						margin-left 6%
					.col 
						img 
							width 100%
							height 70px
							margin-left: 0
					.col1
						img 
							width 100%
							height 70px
		// end box 8
		// box9
		.box9
			width 100%
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
	// end box 12
// end tablet
// mobile
@media screen and (max-width 360px)
	// khung
	nav.khung
		// box1
		.box1
			width 100%
		// end box 1
		// box2
		.box2
			width 100%
		// end box 2
		// box3
		.box3
			width 100%
		// end box 3
		// box4
		.box4
			width 100%
		// end box 4
		// box5
		.box5
			width 100%
		// end box 5
		// box6
		.box6
			width 100%
		// end box 6
		// box7
		.box7
			width 100%
			height 600px
			.col-left
				width 100%
				.slide1
					.carousel-inner
						margin 0
						margin-left 35px
						width 320px
						.carousel-item
							.card-deck
								width 250px
								
					a.carousel-control-prev span.prev
						margin-left -280px
			.col-right
				width 100%
				.slide2
					.carousel-inner
						margin 0
						margin-left 10px
						width 320px
						.carousel-item
							.card-deck
								width 250px
					a.carousel-control-prev span.prev
						margin-left -280px
						margin-top -2px
					a.carousel-control-next span.next
						margin-top -2px
		// end box 7
		// box8
		.box8
			float left
			width 100%
			height 950px
			margin-top 650px
			.col-md-4
				img
					height 200px
					width 100%
				.img1
					width 100%
					margin-left: 2%
					height 80px
					.img2
						width 50px
						height 50px
						float left
					.img3
						float left
						width: 75%
						h5
							padding-top 15px
							font-size 14px
				.img4
					img.image 
						width 100%
						margin-left 0
					.col
						img.image 
							height 100px
					.col1
						float left
						img.image 
							height 100px
		// end box 8
		// box9
		.box9
			width 100%
		// end box 9
		// box10
		.box10
			width 100%
		// end box 10
		// box11
		.box11
			width 100%
		// end box 11
		// box12
		.box12
			width 100%
// end mobile